In [5]:
import pandas as pd
import numpy as np
import re
import textract

In [6]:
import tabula

In [7]:
#extraigo texto
archivo= 'tresalia\Bancos\Banamex_nacional\pdf\Banamex_Inversion _Empresarial-rotado.pdf'

In [8]:
text = textract.process(archivo)

In [9]:
#cambio formato
encoding = 'utf-8'
text_str=text.decode(encoding)

In [10]:
#separo
pdf=re.split(r"[~\r\n]+", text_str)

In [11]:
information_pdf=pd.DataFrame(pdf).rename(columns={0:"informacion"})
information_pdf.head()

                                         informacion
0  0.24% 0.29% 0.26% 0.34% 0.41% 0.37% 0.44% 0.50...
1  Jul Jun May Abr Mar Feb Ene Dic Nov Oct Sep 20...
2                                       Por Producto
3  INVERSIÓN EN RENTA VARIABLE 0.00% INVERSIÓN IN...
4  NOTAS ESTRUCTURADAS 0.00% BONOS ESTRUCTURADOS ...

In [12]:
pdf

['0.24% 0.29% 0.26% 0.34% 0.41% 0.37% 0.44% 0.50% 0.48% 0.51% 0.53%',
 'Jul Jun May Abr Mar Feb Ene Dic Nov Oct Sep 2020 2020 2020 2020 2020 2020 2020 2019 2019 2019 2019',
 'Por Producto',
 'INVERSIÓN EN RENTA VARIABLE 0.00% INVERSIÓN INSTRUMENTOS DE DEUDA 0.00% FONDOS DE INVERSIÓN 100.00%',
 'NOTAS ESTRUCTURADAS 0.00% BONOS ESTRUCTURADOS 0.00% CARTERA CAUCIONADA 0.00%',
 'NO-V-7006-8-004741-0000000000001038',
 'POSICIÓN INFORMATIVA 0.00% EFECTIVO 0.00%',
 '*Instrumentos valorizados en pesos.',
 'Referencias de Mercado Deuda Corto Plazo (PIPG CETES 28D) Deuda Largo Plazo (PIPG FIX 12M) Deuda Tasa Real (PIPG REAL) Renta Variable Local (IPC) Renta Variable Global (MSCI ACWI) Renta Variable Emergente (MSCI EMERGING MAKETS)',
 'Rendimiento último mes 0.39 -0.60 1.16 -0.03 0.58',
 '0.32',
 'Consulta Rubros de Estado de Cuenta en',
 'Rendimiento YTD 4.11 9.53 1.15 -1.35 0.31',
 '0.02',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0c1,064,001.37',
 '159,000.69',
 'DÍA CONCEPTO 01 SALDO ANTERIOR 14 ABONO CTA.CHEQ. 14 VENTA FONDO 17 ABONO CTA.CHEQ. 17 VENTA FONDO 28 CGO.CTA.CHEQUES 28 COMPRA FONDO',
 'EMISORA/SERIE/ TÍTULOS',
 'EFECTIVO/ 0 0660/000065945/ 0 BLKGUB1 M1-A/ 1302 0660/000065945/ 0 BLKGUB1 M1-A/ 67688 0660/000065945/ 0 BLKGUB1 M1-A/ 461300',
 'PRECIO PZO.',
 '2.30416 2.30470 2.30652',
 'TASA 0.00 0.00 0.00 0.00 0.00 0.00 0.00',
 'MOVIMIENTOS',
 '3,000.023,000.02+ 156,000.67156,000.67+ 1,064,001.37+ 1,064,001.37-',
 'DEPÓSITOS POR',
 'INTERESES',
 'RETIROS POR COM.',
 'RETIROS POR',
 'IMPUESTO',
 '0.00 0.00',
 'I=IVA SUMA R=ISR SUMA',
 '0.00',
 '0.00 0.00',
 'NETO DEPÓSITOS',
 'RETIROS',
 '3,000.023,000.02+ 156,000.67156,000.67+ 1,064,001.37+ 1,064,001.37-',
 'COSTO PROMEDIO',
 '0.00',
 'DIFERENCIA COSTO PROMEDIO',
 'VS PRECIO DE VENTA',
 '0.00',
 '0.00000',
 '0.00',
 '2.29585',
 '0.008310',
 '0.00000',
 '0.00',
 '2.29585',
 '0.008850',
 '0.00000',
 '0.00',
 '0.00000',
 '0.00',
 'DÍA CONCEPTO',
 'EMISORA/SERIE/ TÍTULOS',
 '01 SALDO ANTERIOR EFECTIVO NO-V-7006-8-004742-0000000000001038',
 'PRECIO PLAZO 0.00000',
 'TASA 0.00',
 'MOVIMIENTOS 0.00',
 'DEPÓSITOS POR',
 'INTERESES',
 'RETIROS POR COM.',
 'RETIROS POR',
 'IMPUESTO',
 'NETO DEPÓSITOS',
 'RETIROS',
 'COSTO PROMEDIO',
 'VENTA',
 'DIFERENCIA COSTO PROMEDIO',
 'VS PRECIO DE VENTA',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cDÍA CONCEPTO',
 'EMISORA/SERIE/ TÍTULOS',
 'PRECIO PLAZO TASA',
 'MOVIMIENTOS',
 'DEPÓSITOS POR',
 'INTERESES',
 'RETIROS POR COM.',
 'RETIROS POR',
 'IMPUESTO',
 'NETO DEPÓSITOS',
 'RETIROS',
 'COSTO PROMEDIO',
 'VENTA',
 'DIFERENCIA COSTO PROMEDIO',
 'VS PRECIO DE VENTA',
 'A continuación se presenta el total de las Comisiones y Gastos de Intermediación, por Servicios y Administrativos (incluyen IVA) e ISR 1. Total de Comisiones y Gastos de Intermediación: 0 pesos 2. Total de Comisiones y Gastos por Servicios: 0 pesos 3. Total de Comisiones y Gastos Administrativos: 0 pesos R Total Impuesto Sobre la Renta: 0 pesos El monto total de las comisiones, gastos e impuestos (IVA e ISR) del mes son 0 pesos, representa el (0.00)% de su cartera de inversión al cierre del mes.',
 'Las comisiones que se muestran en el mismo renglón de las operaciones de compra o venta de productos financieros en la sección de DETALLE DE MOVIMIENTOS DEL PERÍODO de este estado de cuenta bajo el rubro de "Comisión", hacen referencia a las comisiones cobradas por corretaje y están sumarizadas en el número 1 Total de Comisiones y Gastos de Intermediación.',
 'La forma para calcular el monto de las comisiones y gastos lo puede encontrar en la Guía de Servicios de Inversión en el sitio https://www.banamex.com/bancapatrimonial/informacion_clientes/guia-de-servicios-de-inversion.htm Para mayor información con respecto a las comisiones cobradas, favor de comunicarse con su promotor.',
 'INVER EMPRE/0 NO-V-7006-8-004743-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cBLKGUB1 M1-A/0',
 'EL COSTO PROMEDIO DE ADQUISICION ACTUALIZADO (COSTO FISCAL) QUE SE PRESENTA EN ESTE ESTADO DE CUENTA ES DE CARACTER INFORMATIVO. EN LA CONSTANCIA FISCALANUALSEINCLUIRA ELDATODEFINITIVO',
 'Los tipos de cambio utilizados para la valuación en pesos del portafolio en moneda extranjera son 21.86 para Dólar y 26.48 para Euro.',
 'NO-V-7006-8-004744-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cA través de este reporte le informamos los intereses nominales, dividendos e impuestos retenidos durante el mes conforme a lo establecido en los artículos 103 y 104 de la Ley de Impuesto Sobre la Renta (LISR). Sin embargo, dicho reporte no incluye la retención correspondiente a sus instrucciones de compra o venta recibidas durante los últimos días del mes que tengan fecha de liquidación al mes siguiente, por lo que las cifras incluidas en este reporte son solamente informativas en el entendido de que usted recibirá la constancia anual de retención de impuestos sobre la renta con las cifras definitivas conforme al artículo 59 fracción II y 105 de la LISR.',
 '"En cumplimiento con el artículo 14 de la Ley de Fondos de Inversión, le informamos el porcentaje que representa su tenencia de acciones de Fondos de Inversión en este Estado de Cuenta, del total de cada una de ellas." *Instrumentos valorizados en pesos.',
 'NO-V-7006-8-004745-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cLos rangos son una referencia para dimensionar las pérdidas potenciales para el cliente.',
 '"La diversificación apropiada y su seguimiento permiten limitar la volatilidad de un portafolio y, en consecuencia, reducir riesgo. Por lo tanto es importante establecer una mezcla de activos que evite la concentración en alguno de ellos, buscando un equilibrio entre el riesgo, rendimiento y horizonte de inversión. Diversificar su portafolio considerando el total de sus inversiones es esencial para minimizar los riesgos. En el caso de haber contratado el Servicio de Asesoría de Inversiones, su Banquero lo ayudará recomendándole productos congruentes con su perfil de inversión considerando también una diversificación apropiada o en su caso, la adopción de una Estrategia de inversión o composición de cartera que corresponda a su perfil."',
 '+Tasa libre de riesgo: ofrece un rendimiento seguro en una unidad monetaria y en un plazo determinado, donde no existe riesgo crediticio; usualmente valores gubernamentales.',
 'NO-V-7006-8-004746-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cNO-V-7006-8-004747-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cPara Reclamaciones y Aclaraciones Centro de Atención Telefónica Patrimonial: (01-55) 2226-3680 en la Ciudad de México y el resto del país LADA sin costo 01-800-827-8000. Desde USA y Canadá LADA sin costo 1-877-338-3861. Horario de atención de lunes a viernes de 9:00 AM a 4:00 PM (horario de la Ciudad de México). Correo Electrónico: lpatrim001@banamex.com Privada: (01-55) 2226-9965 en la Ciudad de México y el resto del país LADA sin costo 01-800-101-8111. Desde USA y Canadá LADA sin costo 1-877-469-1217. Horario de atención de lunes a viernes de 9:00 AM a 4:00 PM (horario de la Ciudad de México). Correo Electrónico: lprivada01@banamex.com Banca Empresarial: (01-55) 12267687, (01-55) 12267691, (01-55) 12267690 en la Ciudad de México y el resto del país. Desde el extranjero 52 55 12267687, 52 55 12267691, 52 55 12267690. Horario de atención de lunes a viernes de 9:00 AM a 4:00 PM (horario de la Ciudad de México.)',
 'NO-V-7006-8-004748-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cNO-V-7006-8-004749-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cNO-V-7006-8-004750-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cNO-V-7006-8-004751-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0c']

In [18]:
cliente_lista=[]
for i in pdf:
    if re.search('SA DE CV', i):
        cliente_lista.append(i)

In [19]:
cliente_lista

[]

In [15]:
tabla=tabula.read_pdf(archivo, pages='all')

In [42]:
pagina_2=tabula.read_pdf(archivo, pages=2)

In [50]:
for i in pagina_2:
    if len(i)>1:
        tabla_1=i

In [52]:
tabla_1=pagina_2[4].T.reset_index().T

In [53]:
columnas= ['CONCEPTO','EMISORA/SERIE/TÍTULOS', 'PRECIO','PZO', 'TASA', 'MOVIMIENTOS','DEPOSITO POR INTERESES', 'RETIROS POR COM',
          'RETIROS POR IMPUESTO' ,'SALDO', 'COSTO PROMEDIO', 'DIFERENCIA COSTO PROMEDIO VS PRECIO DE VENTA' ]

In [54]:
tabla_1.columns=tabla_1.columns[:0].tolist()+columnas

In [55]:
tabla1_2=tabla_1.reset_index(drop=True)
tabla1_2

,CONCEPTO,EMISORA/SERIE/TÍTULOS,PRECIO,PZO,TASA,MOVIMIENTOS,DEPOSITO POR INTERESES,RETIROS POR COM,RETIROS POR IMPUESTO,SALDO,COSTO PROMEDIO,DIFERENCIA COSTO PROMEDIO VS PRECIO DE VENTA
0,SALDO ANTERIOR,EFECTIVO/\r0,Unnamed: 0,Unnamed: 1,0.00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,0.00.1
1,ABONO CTA.CHEQ.,0660/000065945/\r0,NaN,NaN,0.0,"3,000.02-",NaN,NaN,NaN,"3,000.02-",NaN,0.0
2,VENTA FONDO,BLKGUB1 M1-A/\r1302,2.30416,NaN,0.0,"3,000.02+",NaN,NaN,NaN,"3,000.02+",NaN,2.29585
3,ABONO CTA.CHEQ.,0660/000065945/\r0,NaN,NaN,0.0,"156,000.67-",NaN,NaN,NaN,"156,000.67-",NaN,0.0
4,VENTA FONDO,BLKGUB1 M1-A/\r67688,2.3047,NaN,0.0,"156,000.67+",NaN,NaN,NaN,"156,000.67+",NaN,2.29585
5,CGO.CTA.CHEQUES,0660/000065945/\r0,NaN,NaN,0.0,"1,064,001.37+",NaN,NaN,NaN,"1,064,001.37+",NaN,0.0
6,COMPRA FONDO,BLKGUB1 M1-A/\r461300,2.30652,NaN,0.0,"1,064,001.37-",NaN,NaN,NaN,"1,064,001.37-",NaN,0.0
7,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,I=IVASUMA0.00\rR=ISRSUMA0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
def unamed(x):
    if str(x).lower().startswith('unnamed'):
        return 0
    else:
        return x

In [57]:
tabla1_2.iloc[0]=tabla1_2.iloc[0].apply(unamed)

In [58]:
tabla1_2

,CONCEPTO,EMISORA/SERIE/TÍTULOS,PRECIO,PZO,TASA,MOVIMIENTOS,DEPOSITO POR INTERESES,RETIROS POR COM,RETIROS POR IMPUESTO,SALDO,COSTO PROMEDIO,DIFERENCIA COSTO PROMEDIO VS PRECIO DE VENTA
0,SALDO ANTERIOR,EFECTIVO/\r0,0,0,0.00,0,0,0,0,0,0,0.00.1
1,ABONO CTA.CHEQ.,0660/000065945/\r0,NaN,NaN,0.0,"3,000.02-",NaN,NaN,NaN,"3,000.02-",NaN,0.0
2,VENTA FONDO,BLKGUB1 M1-A/\r1302,2.30416,NaN,0.0,"3,000.02+",NaN,NaN,NaN,"3,000.02+",NaN,2.29585
3,ABONO CTA.CHEQ.,0660/000065945/\r0,NaN,NaN,0.0,"156,000.67-",NaN,NaN,NaN,"156,000.67-",NaN,0.0
4,VENTA FONDO,BLKGUB1 M1-A/\r67688,2.3047,NaN,0.0,"156,000.67+",NaN,NaN,NaN,"156,000.67+",NaN,2.29585
5,CGO.CTA.CHEQUES,0660/000065945/\r0,NaN,NaN,0.0,"1,064,001.37+",NaN,NaN,NaN,"1,064,001.37+",NaN,0.0
6,COMPRA FONDO,BLKGUB1 M1-A/\r461300,2.30652,NaN,0.0,"1,064,001.37-",NaN,NaN,NaN,"1,064,001.37-",NaN,0.0
7,0.00,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,I=IVASUMA0.00\rR=ISRSUMA0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
indices_dia=[]
for i in range(len(pdf)):
    if re.search('día', pdf[i].lower()):
        indices_dia.append(i)

In [60]:
indices_dia

[18, 55, 74, 101]

In [61]:
tabla_1=pdf[indices_dia[0]:indices_dia[1]]

In [62]:
tabla_1

['DÍA CONCEPTO 01 SALDO ANTERIOR 14 ABONO CTA.CHEQ. 14 VENTA FONDO 17 ABONO CTA.CHEQ. 17 VENTA FONDO 28 CGO.CTA.CHEQUES 28 COMPRA FONDO',
 'EMISORA/SERIE/ TÍTULOS',
 'EFECTIVO/ 0 0660/000065945/ 0 BLKGUB1 M1-A/ 1302 0660/000065945/ 0 BLKGUB1 M1-A/ 67688 0660/000065945/ 0 BLKGUB1 M1-A/ 461300',
 'PRECIO PZO.',
 '2.30416 2.30470 2.30652',
 'TASA 0.00 0.00 0.00 0.00 0.00 0.00 0.00',
 'MOVIMIENTOS',
 '3,000.023,000.02+ 156,000.67156,000.67+ 1,064,001.37+ 1,064,001.37-',
 'DEPÓSITOS POR',
 'INTERESES',
 'RETIROS POR COM.',
 'RETIROS POR',
 'IMPUESTO',
 '0.00 0.00',
 'I=IVA SUMA R=ISR SUMA',
 '0.00',
 '0.00 0.00',
 'NETO DEPÓSITOS',
 'RETIROS',
 '3,000.023,000.02+ 156,000.67156,000.67+ 1,064,001.37+ 1,064,001.37-',
 'COSTO PROMEDIO',
 '0.00',
 'DIFERENCIA COSTO PROMEDIO',
 'VS PRECIO DE VENTA',
 '0.00',
 '0.00000',
 '0.00',
 '2.29585',
 '0.008310',
 '0.00000',
 '0.00',
 '2.29585',
 '0.008850',
 '0.00000',
 '0.00',
 '0.00000',
 '0.00']

In [63]:
dias_tabla_1=re.findall(r'\d{2}',tabla_1[0])
dias_tabla_1

['01', '14', '14', '17', '17', '28', '28']

In [64]:
#quito ceros y nulos
tabla1_3=tabla1_2.fillna(0)
tabla1_4=tabla1_3[(tabla1_3['EMISORA/SERIE/TÍTULOS']!='0.00')]
tabla1_5=tabla1_4[tabla1_4['EMISORA/SERIE/TÍTULOS']!=0]

In [65]:
#agrego días
tabla1_5['dias']= dias_tabla_1

c:\users\gotsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [66]:
tabla_pesos=tabla1_5[['dias', 'CONCEPTO','EMISORA/SERIE/TÍTULOS', 'PRECIO','PZO','MOVIMIENTOS',
                     'DEPOSITO POR INTERESES','RETIROS POR COM', 'RETIROS POR IMPUESTO','SALDO']]

In [67]:
#tabla pesos para exportar
tabla_pesos

,dias,CONCEPTO,EMISORA/SERIE/TÍTULOS,PRECIO,PZO,MOVIMIENTOS,DEPOSITO POR INTERESES,RETIROS POR COM,RETIROS POR IMPUESTO,SALDO
0,01,SALDO ANTERIOR,EFECTIVO/\r0,0.00000,0,0,0,0,0,0
1,14,ABONO CTA.CHEQ.,0660/000065945/\r0,0.00000,0,"3,000.02-",0,0,0,"3,000.02-"
2,14,VENTA FONDO,BLKGUB1 M1-A/\r1302,2.30416,0,"3,000.02+",0,0,0,"3,000.02+"
3,17,ABONO CTA.CHEQ.,0660/000065945/\r0,0.00000,0,"156,000.67-",0,0,0,"156,000.67-"
4,17,VENTA FONDO,BLKGUB1 M1-A/\r67688,2.30470,0,"156,000.67+",0,0,0,"156,000.67+"
5,28,CGO.CTA.CHEQUES,0660/000065945/\r0,0.00000,0,"1,064,001.37+",0,0,0,"1,064,001.37+"
6,28,COMPRA FONDO,BLKGUB1 M1-A/\r461300,2.30652,0,"1,064,001.37-",0,0,0,"1,064,001.37-"

In [83]:
retiro=[]
deposito=[]
for i in tabla_pesos['MOVIMIENTOS']:
    if re.search(r'\-$',str(i)):
        retiro.append(i)
        deposito.append(0)
    elif re.search(r'\+$',str(i)):
        retiro.append(0)
        deposito.append(i)
        
    else:
        retiro.append(0)
        deposito.append(0)

In [85]:
tabla_pesos['retiro']=retiro
tabla_pesos['deposito']=deposito
tabla_pesos['saldo']=tabla_pesos['SALDO']

c:\users\gotsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\gotsa\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
tabla_pesos['concepto']=tabla_pesos['CONCEPTO']+tabla_pesos['EMISORA/SERIE/TÍTULOS']

In [87]:
tabla_pesos['banco']= 'banamex'
tabla_pesos['saldo inicial']=tabla_pesos['saldo'][0]

In [88]:
tabla_pesos['nacionalidad']='nacional'

In [68]:
tabla_2=pdf[indices_dia[1]:indices_dia[2]]
tabla_2

['DÍA CONCEPTO',
 'EMISORA/SERIE/ TÍTULOS',
 '01 SALDO ANTERIOR EFECTIVO NO-V-7006-8-004742-0000000000001038',
 'PRECIO PLAZO 0.00000',
 'TASA 0.00',
 'MOVIMIENTOS 0.00',
 'DEPÓSITOS POR',
 'INTERESES',
 'RETIROS POR COM.',
 'RETIROS POR',
 'IMPUESTO',
 'NETO DEPÓSITOS',
 'RETIROS',
 'COSTO PROMEDIO',
 'VENTA',
 'DIFERENCIA COSTO PROMEDIO',
 'VS PRECIO DE VENTA',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00']

In [69]:
#la tabla2 no tiene días, es nula
dias_tabla_2=re.findall(r'\d{2}',tabla_2[0])
dias_tabla_2

[]

In [70]:
tabla_3=pdf[indices_dia[2]:indices_dia[3]]
tabla_3

['\x0cDÍA CONCEPTO',
 'EMISORA/SERIE/ TÍTULOS',
 'PRECIO PLAZO TASA',
 'MOVIMIENTOS',
 'DEPÓSITOS POR',
 'INTERESES',
 'RETIROS POR COM.',
 'RETIROS POR',
 'IMPUESTO',
 'NETO DEPÓSITOS',
 'RETIROS',
 'COSTO PROMEDIO',
 'VENTA',
 'DIFERENCIA COSTO PROMEDIO',
 'VS PRECIO DE VENTA',
 'A continuación se presenta el total de las Comisiones y Gastos de Intermediación, por Servicios y Administrativos (incluyen IVA) e ISR 1. Total de Comisiones y Gastos de Intermediación: 0 pesos 2. Total de Comisiones y Gastos por Servicios: 0 pesos 3. Total de Comisiones y Gastos Administrativos: 0 pesos R Total Impuesto Sobre la Renta: 0 pesos El monto total de las comisiones, gastos e impuestos (IVA e ISR) del mes son 0 pesos, representa el (0.00)% de su cartera de inversión al cierre del mes.',
 'Las comisiones que se muestran en el mismo renglón de las operaciones de compra o venta de productos financieros en la sección de DETALLE DE MOVIMIENTOS DEL PERÍODO de este estado de cuenta bajo el rubro de "Comisión", hacen referencia a las comisiones cobradas por corretaje y están sumarizadas en el número 1 Total de Comisiones y Gastos de Intermediación.',
 'La forma para calcular el monto de las comisiones y gastos lo puede encontrar en la Guía de Servicios de Inversión en el sitio https://www.banamex.com/bancapatrimonial/informacion_clientes/guia-de-servicios-de-inversion.htm Para mayor información con respecto a las comisiones cobradas, favor de comunicarse con su promotor.',
 'INVER EMPRE/0 NO-V-7006-8-004743-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00',
 '\x0cBLKGUB1 M1-A/0',
 'EL COSTO PROMEDIO DE ADQUISICION ACTUALIZADO (COSTO FISCAL) QUE SE PRESENTA EN ESTE ESTADO DE CUENTA ES DE CARACTER INFORMATIVO. EN LA CONSTANCIA FISCALANUALSEINCLUIRA ELDATODEFINITIVO',
 'Los tipos de cambio utilizados para la valuación en pesos del portafolio en moneda extranjera son 21.86 para Dólar y 26.48 para Euro.',
 'NO-V-7006-8-004744-0000000000001038',
 '000132.TANPATONDCOR14.ED.0831.01',
 'BEI 00']

In [71]:
#la tabla 3 no tiene días es nula
dias_tabla_3=re.findall(r'\d{2}',tabla_3[0])
dias_tabla_3

[]