In [1]:
#pip install git+https://github.com/deanmalmgren/textract.git

In [2]:
import textract

In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
import tabula

In [34]:
#extraigo texto
archivo= 'tresalia\Bancos\Banamex_nacional\pdf\cuenta_perfiles_banamex.pdf'

In [35]:
text = textract.process(archivo)

In [36]:
#cambio formato
encoding = 'utf-8'
text_str=text.decode(encoding)

In [37]:
#separo
pdf=re.split(r"[~\r\n]+", text_str)

In [38]:
information_pdf=pd.DataFrame(pdf).rename(columns={0:"informacion"})
information_pdf.head()

                       informacion
0                     cffibanamex@
1      El Banco Nacional de México
2                   Página 1 de 11
3  g NOMBRE APELLIDO P  APELLIDO M
4        ..,. DIRECCIÓN "' COLONIA

In [39]:
#extraigo nombre de cliente
cliente_nombre_list=[]
for index,row in information_pdf.iterrows():
    if row["informacion"].startswith("g"):
        cliente_nombre=row[0]
        cliente_nombre_list.append(cliente_nombre)

In [40]:
cliente_nombre_list

['g NOMBRE APELLIDO P  APELLIDO M']

In [106]:
cliente_nombre=(cliente_nombre_list[0].replace('g','')).strip()

In [107]:
cliente_nombre

'NOMBRE APELLIDO P  APELLIDO M'

In [43]:
#obtengo periodo

In [44]:
periodo_list=[]
for index,row in information_pdf.iterrows():
    if row["informacion"].startswith("Período") or row["informacion"].startswith("período") or row["informacion"].startswith("Periodo") or row["informacion"].startswith("periodo"):
        periodo=row[0]
        periodo_list.append(periodo)

In [45]:
periodo

'Período del 5 de septiembre al 4 de octubre del 2020'

In [46]:
periodo=[]
for i in pdf:
    if i.startswith("Período") or i.startswith("período") or i.startswith("Periodo") or i.startswith("periodo"):
        periodo.append(i)
        
print(periodo)

['Período del 5 de septiembre al 4 de octubre del 2020']

In [47]:
informacion=[]
for i in range(len(pdf)):
    if re.search('contrato',pdf[i]):
        informacion.append(pdf[i])
        informacion.append(pdf[i+1])

print(informacion)

['Número de contrato Número de sucursal Número de cuenta de cheques Número de Tarjeta de Débito CLABE lnterbancaria Número de cliente RFC', '9999999999 9999 99999999999 9999999999999999 999999999999999999 99999999 XXXX999999X99', 'Número de contrato', '9999999999', 'Tambien puedes realizar dep6sitos en cajeros automaticos y sucursales Cltibanamex. En caso de no estar de acuerdo con las modificaciones senaladas, podras solicitar la terminaci6n del Contrato dentro de los 30 dfas posteriore a Que surta electo la presente notificaci6n, por lo que durante ese pedodo nose aplicara el cobra de las comisiones mencionadas previamente. Se entendera que aceptas las modificaciones efectuadas a las comisiones, si no solicitas la terminaci6n del contrato dentro del plazo seiialado. Tu derecho a dar por terminado el Contrato en cualquier otro momenta seguira siendo vigente.', 'Atentamente.', 'Tu contrato de Banca lectr6nica tiene na nueva actualizaci6n', 'Te inlormarnos que tu contrato de prestacion de servicios de banca electronica para personas fislcas tuvo recientes modificaciones que entraran en vigor en 30 dias a partir de la presente notificaci6n.', 'Te inlormarnos que tu contrato de prestacion de servicios de banca electronica para personas fislcas tuvo recientes modificaciones que entraran en vigor en 30 dias a partir de la presente notificaci6n.', 'Pag. 1 Nueva secci6n DECLARACIONES tanto del Cllente coma de Citibanamex, en la cual ambas partes declaran su capacidad jurfdlca para llevar a cabo et contrato de serviclo.', 'Pag. 1 Nueva secci6n DECLARACIONES tanto del Cllente coma de Citibanamex, en la cual ambas partes declaran su capacidad jurfdlca para llevar a cabo et contrato de serviclo.', 'Pag. 5 Se rntegra la secci6n INSTRUCCIONES, RESPONSABILIDADES Y LIMITES entre Cltibanamex y el Cllente, en donde se acepta el uso responsable del serv1cio.', 'Consulta las actualizaciones del Contrato de Banca Electr6n1ca en www.cillbanamex.com/contrato·bancaelectronica y en caso de no estar de acuerdo con las modiricaciones senaladas, podras solicitar la terminaci6n del mismo dentro de las 30 dias posteriores de haber recib1do esta notificaci6n. Se entendera que aceptas las mod1ficaciones si no solicitas la terminac16n del contrato dentro del plaza senalado. Tu derecho a dar par termrnado el Contrato seguira siendo vigente.', 'Atentamente,']

In [48]:
nombre=informacion[0].split('Número')
nombre.pop(0)
nombre[3]='Tarjeta de Débito'
nombre[4]='CLABE'
nombre.append('# cliente')
nombre.append('RFC')

In [49]:
nombre

[' de contrato ',
 ' de sucursal ',
 ' de cuenta de cheques ',
 'Tarjeta de Débito',
 'CLABE',
 '# cliente',
 'RFC']

In [50]:
valores=informacion[1].split(' ')

In [51]:
val_dict= dict(zip(nombre,valores))

In [52]:
val_dict

{' de contrato ': '9999999999',
 ' de sucursal ': '9999',
 ' de cuenta de cheques ': '99999999999',
 'Tarjeta de Débito': '9999999999999999',
 'CLABE': '999999999999999999',
 '# cliente': '99999999',
 'RFC': 'XXXX999999X99'}

In [53]:
pdf

['cffibanamex@',
 'El Banco Nacional de México',
 'Página 1 de 11',
 'g NOMBRE APELLIDO P  APELLIDO M',
 '..,. DIRECCIÓN "\' COLONIA',
 'IN',
 '00000 DELEGACIÓN, CIUDAD DE MEXICO C.R.11801',
 'Estado de Cuenta',
 'Cuenta Perfiles',
 'Período del 5 de septiembre al 4 de octubre del 2020',
 'Fecha de Corte',
 '02 de octubre de 2020',
 'Número de contrato Número de sucursal Número de cuenta de cheques Número de Tarjeta de Débito CLABE lnterbancaria Número de cliente RFC',
 '9999999999 9999 99999999999 9999999999999999 999999999999999999 99999999 XXXX999999X99',
 'GAT Nominal y Real antes de impuestos Interés aplicable o Rendimientos Comisiones efectivamente cobradas',
 'Comportamiento',
 'No Aplica $0.00',
 '$105.00',
 'Resumen En Pesos Moneda Nacional',
 'Saldo anterior Depósitos Retiros en efectivo Otros cargos Saldo al corte Saldo promedio mensuaf',
 '1,291.41 0.00 0.00',
 '5,538.45 5,647.96 2,065.77',
 'Saldo anterior',
 'o',
 'Depósitos',
 'Retiros en efectivo',
 '$0',
 'Comisiones $105',
 'Otros Cargos',
 '$5,538',
 'Saldo al corte',
 'Saldo',
 'Promedio Mensual',
 'Las cifras ilustradas en la gráfica son sin decimales y sin redondear',
 'Conoce como evitar pagar com1s1ón',
 'PLAN DE RENTA',
 'PLAN DE SALDO',
 'PORTABILIDAD DE NÓMINA',
 'Mantén un safdo promedio mensual de $2,000 y realiza 6 compras· o más',
 'antes de tu fecha de corte en comercios y exenta el pago de esta comisión.',
 'Mantén un saldo promedio mensual** de $4,000 y exenta el pago de camisón',
 'Trae tu nómina y evita ef pago de comisión por manejode cuenta',
 'º Saldo solo en tu cuenta º Saldo solo en tu Ahorro fácil º Saldo en tu cuenta+ en tu Ahorro fácil',
 'º Saldo solo en cuenta 0 Saldo solo en Ahorro fácil',
 '0 Saldo en cuenta+ Ahorro fácil',
 '$55.00 más IVA',
 '$165.00 más IVA',
 '$0.00',
 '* No aplican compras en linea ni domiciliaciones.',
 '** Para calcular el saldo promedio mensual de la cue&ÍJl\\la el saldo de cada día del mes comprendiendo entre tus fechas de corte y divide el resultado entre el total',
 'de días del mes.',
 'Puedes cambiar el plan de comisiones que elegiste,',
 'solicítalo en sucursal o en el Centro de Atencion Telefónica',
 'Por tu seguridad',
 '¿Recibiste un correo electrónico que te pide dar clic a un enlace para dirigirte a tu servicio de banca?',
 '¡Cuidado! Puede ser fraude a través de Phishing. Teclea directamente en el navegador www cl!Jbanamex.com',
 'rn',
 'Nunca compartas datos confidenciales como son:',
 'Contraseñas Número de seguridad de tu Tarjeta Número de cliente Claves de Nelkey',
 '#PreviniendoFraudes',
 'Mm IO: PCt1IOOl3H(',
 '0006475',
 '000190.B25INDA0I0.OD.1002.0l',
 '\x0ccffibanamex@',
 'Centro de Atención Telefónica',
 'Ciudad de México 9-999 9999 (1-Banamex) Otra ciudad sin costo 09 999 999 9999',
 'Cuenta Perfiles',
 'Resumen',
 'del 5 de septiembre al 4 de octubre del 2020',
 'Número de contrato',
 '9999999999',
 'Saldo anterior En pesos M.N. ____ 1,291.41',
 '(+) O Depósitos',
 '0.00',
 '(-) 22 Retiros/Otros cargos',
 '5,643.45',
 '(+)',
 'Intereses menos Impuesto Sobre la Renta',
 '0.00',
 'Saldo al Corte',
 '5,647.96',
 'Saldo promedio mensual',
 'En el período 2,065.77',
 'Días del periodo',
 '30',
 'Tasa de interés Bruta*',
 '0.00%',
 'Intereses',
 '0.00',
 'Impuesto Sobre la Renta retenido',
 '0.00',
 'Intereses menos Impuesto Sobre la Renta 0.00',
 'En el ano 0.00',
 '* Expresada en términos anuales.',
 'Detalle de Operaciones En pesos Moneda Nacional',
 'FECHA 05 SEP 07 SEP 08 SEP',
 '10 SEP 10 SEP 10 SEP 18 SEP 18 SEP',
 '18 SEP',
 'CONCEPTO',
 'SALDO ANTERIOR COBRO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 AUT 00000000 HORA 15:41 EXENCION COBRO COMISION MANEJO DE CUENTA PERIODO AGO05 AL SEP04 IMPORTE A EX ENTAR $165.00 CAJA 0000 AUT 00000000 HORA 03:09 SUC 0000 COBRO DE CHEQUE NUMERO 000',
 'suc 0000',
 'CAJA 0000 AUT 00000000 HORA 14:30 COBRO DE CHEQUE NUMERO 174',
 'suc 0000',
 'CAJA 0000 AUT 00000000 HORA 14:49 COBRO DE CHEQUE NUMERO 000',
 'suc 0000',
 'CAJA 0000 AUT 00000000 HORA 14:50 GNC PLAZA LILAS MAX0611157H8 9999 999999999999999999999999 99999999 CAJA 0093 AUT 99999999 99999999 HORA 06:48 SUC 9999 XXXX XXXX & XXX XX 000000000 0000',
 'suc 0342',
 'CAJA 0000 AUT 00000000 HORA 06:48 00000000 00000000000000000000000',
 '00000000 suc 0000',
 'CAJA 0000 AUT 00000000 HORA 06:48 LILAS 000000000',
 '0006475',
 'Envía y recibe dinero al instante',
 'sin dar de alta una cuenta, hazlo desde CoDi(!) en',
 'Citibanamex Móvil Maneja tu dinero desde la App.',
 'RETIROS',
 'DEPÓSITOS',
 '2,000.00',
 '950.00 1 686.00 1,326.00 2,029.70',
 '350.00',
 '000190.B25INDA0I0.OD.1002.01',
 'Página 2 de 11',
 'SALDO 1 291.41 9,291.41 9,291.41 8,341.41 6 655.41 5,329.41 3,299.71 2 949.71',
 '\x0ccffibanamex@',
 'NOMBRE APELLIDO P APELLIDO M',
 'Detalle de Operaciones En pesos Moneda Nacional',
 'FECHA 21 SEP 21 SEP 21 SEP 22 SEP',
 '24 SEP 24 SEP 24 SEP 25 SEP 25 SEP',
 '25 SEP',
 '28 SEP',
 'CONCEPTO',
 '5411 75412910263975987909057 20200921 CAJA 0093 AUT 02985979 20200921 HORA 06:48 SUC 0342 REPOSTERIA XXXX999999XX9 5441 20200923 75326900265000784368680',
 '20200923 suc 0342',
 'CAJA 0093 AUT 01011285 HORA 05:30 CITY MARKET 5411 75435290266536760465142 20200923 CAJA 0093 AUT 01011287 20200923 HORA 05:30 SUC 0342 FLORES 5992 20200923',
 '75412780265000108700221 20200923 suc',
 '0342 CAJA 0093 AUT 01011289 HORA 05:30 TERMINAL 131210UU7 5811',
 'suc 0342',
 'CAJA 0093 AUT 00881422 HORA 05:30 20200924 75445500266001282364505',
 '20200924 suc 0342',
 'CAJA 0093 AUT 00881422 HORA 05:30 CITY MARKET 5411 75435290269536760467046 20200928 CAJA 0093 AUT 00906083 20200928 HORA 05:40 SUC 0342 COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 AUT 00451934 HORA 12:19 COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 AUT 00451948 HORA 12:32 COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0001 AUT 00017534 HORA 11:29 UBER *EATS HELP.UBER.COM 5812 20200928 15276320270002487493963',
 '20200928 suc 0342',
 'CAJA 0093 AUT 02611056 HORA 05:44 1,459.70 Mexican Peso 20200928 CAJA 0093 AUT 02611056 20200928 HORA 05:44 SUC 0342 UBER *EATS HELP.UBER.COM 5812 20200928 15276320270002530791413 493.18',
 '20200928 suc 0342',
 'CAJA 0093 AUT 02611057 HORA 05:44 Mexican Peso 20200928 CAJA 0093 AUT 02611057 20200928 HORA 05:44 SUC 0342 UBER *EATS HELP.UBER.COM 5812 20200929 15276320272002337138493 351.24',
 '0006475',
 'SUC. 9656 ARCOS BOSQUES, CDMX AVE. PASEO DE LOS TAMARINDOS 400B BOSQUES DE LAS LOMAS',
 'RETIROS',
 'DEPÓSITOS',
 '234.00',
 '1 360.00 1,496.20 1 000.00',
 '2,186.73',
 '360.00 8 000.00 4,000.00 15 146.00',
 '1,459.70',
 '493.18',
 '000190.B25INDA0I0.OD.1002.01',
 'Página 3 de 11',
 'SALDO 2,715.71 1 355.71 9,859.51 8,859.51',
 '6,672.78 6,312.78 8 312.78 4,312.78 9 166.78',
 '7,707.08',
 '7 213.90',
 '\x0ccffibanamex@',
 'Detalle de Operaciones En pesos Moneda Nacional',
 'FECHA 30 SEP 30 SEP',
 '02 OCT 02 OCT',
 'CONCEPTO',
 '20200929 suc 0342',
 'CAJA 0093 AUT 01012606 HORA 05:39 Mexican Peso 20200929 CAJA 0093 AUT 01012606 20200929 HORA 05:39 SUC 0342 PROSECCO 20201002 75445500274001277147220',
 '20201002 suc 0342',
 'CAJA 0093 AUT 00684097 HORA 05:25 XXXXXXXXXXXX 1311076Y5 7298',
 'suc 0342',
 'CAJA 0093 AUT 00684100 HORA 05:25 20201002 75412910275910272446024',
 '20201002 suc 0342',
 'CAJA 0093 AUT 00684100 HORA 05:25 COMISIONOP R 7 CHEQUES GIRADOS CAJA 0000 AUT 01906646 HORA 23:59 SUC 9656 IVA COMISION CHEQUE GIRADO CAJA 0000 AUT 01906646 HORA 23:59 SUC 9656',
 'Centro de Atención Telefónica',
 'Ciudad de México 9-999 9999 (1Banamex) Otra ciudad sin costo 99 999 999 9999',
 'RETIROS',
 'DEPÓSITOS',
 '351.24 742.90',
 '350.00 105.00',
 'lNecesitas enviar el comprobante de una transferencia?',
 'Compártelo después de hacer tu operación desde Citibanamex Móvil',
 '· Maneja tu dinero desde la APP.',
 '(ar¡¡¡ft rISl!os lle ooolooci C01111ll0fl!S y cOfllióa lle ISO d! proikrctDI y lmllOS !11 .e',
 'Página 4 de 11',
 'SALDO 6 862.66',
 '6,119.76',
 '5 769.76 5 664.76',
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'NOMBRE APELLIDO P APELLIDO M',
 'Resumen Operaciones Tarjeta TARJETA 9999999999999999',
 'SUC. 9656 ARCOS BOSQUES, CDMX AVE. PASEO DE LOS TAMARINDOS 400B BOSQUES DE LAS LOMAS',
 'CONCEPTO',
 'RESTAURANTES ENTRETENIMIENTO SALUD SUPERMERCADOS VARIOS',
 'TOTAL DE CONSUMOS TOTAL GENERAL',
 'Resumen Operaciones Chequera CHEQUERA 9999 000000000000',
 'CHEQUES GIRADOS',
 '7',
 'CONSUMOS',
 '3 4 10 10',
 'TOTAL',
 '3,108.00',
 'Comisiones Cobradas COMISIONES COBRADAS EN EL PERIODO: 105.00',
 'Página 5 de 11',
 'IMPORTE 742.90 2,186.73',
 '2,729.70 3 450.20 1,000.00 10,109.53 10,109.53',
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'SUC. 9656 ARCOS BOSQUES, CDMX AVE. PASEO DE LOS TAMARINDOS 400B BOSQUES DE LAS LOMAS',
 'Página 6 de 11',
 'Estamos para servirte las 24 horas, los 365 días del año: Reporte de robo o extravío de cheques, Tarjetas de Débito y atención de aclaraciones.',
 'Importante',
 'Si deseas realizar una aclaración sobre tu Estado de Cuenta, tienes 90 días naturales posteriores al corte del mismo. Para ello, por favor llama a la Unidad Especializada de Atención a Usuarios.',
 'Incumplir tus obligaciones te puede generar comisiones e intereses moratorias.',
 'Para consultar información sobre comisiones con fines informativos y de comparación, ingresa a www.condusef.gob.mx y www.citibanamex.com',
 'Centro de Atención Telefónica',
 'Ciudad de México: 9-999-9999 (1-BANAMEX)',
 'Guadalajara y Monterrey 9999 999-9 (BANAMEX-1)',
 'LADA Nacional sin costo 99 999-999 9999',
 'EUA y Canadá 9 999 999 9999 (1 800 BANAMEX)',
 'Banco Nacional de México, S.A., integrante del Grupo Financiero Banamex recibe las consultas, reclamaciones o aclaraciones, en su Unidad Especializada de Atención a Usuarios, ubicada en Av. Insurgentes Sur No. 926, Colonia Del Valle, Delegación Benito Juárez, C.P.03100Ciudad de México y por correo electrónico une@citibanamex.com o teléfono (55) 1226-4583, así como en cualquiera de sus sucursales u oficinas. En el caso de no obtener una respuesta satisfactoria, podrá acudir a la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros www.condusef.gob.mx, teléfonos: 01-800-999-8080 y 5340-0999.',
 'RFC: BNM840515VB1 Isabel la Católica no. 44, Colonia Centro, Delegación Cuauhtémoc, 06000, Ciudad de México.',
 "Producto garantizado por el IPAB hasta por 400,000 - Unidades de Inversión UDl's por persona y por banco",
 'www.gob.mx/ipab',
 'Ley Federal de Protección de datos personales en posesión de los particulares. En Banamex tus datos están protegidos, consulta el aviso de privacidad correspondiente en www.citibanamex.com/avisodep ivacidad',
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'NOMBRE APELLIDO P APELIDO M',
 'sue. 9656 ARCOS BOSQUES, CDMX',
 'AVE. PASEO DE LOS TAMARINDOS 400B BOSQUES DE LAS LOMAS',
 'Pagina 7 de 11',
 'CFDI DE INGRESO CADENA ORIGINAL DEL COMPLEMENTO DE CERTIFICACION DIGITAL DEL SAT',
 'I',
 '])1.1)BFAOFA82-6F30-4F36-AC49-AOOD5665378D)2020-10-03T20:47:20)CEC961028A98)ZolWij8/dHGdrkjyxKe8ozD+sW1ZYKXBA 9Bfa03dVclycdn7z1wXE3AU4d9qx8/puqC7t0JFIC6v768svpAmGcVLEHKdvAAZzlC7IhOBouFLXTs4FC6m04BClvREiWn8BLgiLEHP oM4SJkP30mlXibLufCOL1XldmWu9WmHJ0g2A6uU5+ZH14kYr1+Mr++rmyH0chuPv1yYAMyybkltPQ2SWXF6HbcXDbn4A6A6H+UQy MCtMWdHsZewl/olfBaa/5pRFfC5MrydoVCaKfdABfazXBnSoJIrqCmC5Bibtjf+f/lxuO/KhnvTvbTut1by9S2gU16vcKvQA= =)00001000000407058485)LevP1K+C1h1WJoHSalu9SXelU5twNFF52zEFF878Mbc4ya4fPp8vvg8+D7tcbkcBgXqvkGB6Tu+ecu7X SN2NfiNXyFYCwfS4RBvYeEc0dSemYIA0E5zuQpnQwvuh33VReYlrDVkKxfW+Hg/5Kld0W5oihFvgpAl9+bS6OmKc0G0YfbvNRRSdv aeHRRzS2QM4sFYNAtNtGGKYrFRoMVsntSnydyWKZR9CQli8+0S6MWrg2cJFAwD+dglx0Gfebt38IabtT8wENwXGQ+Fk+iGWtH4QB 27bAqX9Q3b8r+QpXwSKWhEyxm4V9BobL4TJfOVcgR6B+cGvsv6KEhWCWMBeg==])',
 'Versi6n Serie Folio Forma de Pacio No. de Serie de CSD del Emisor',
 'Tioo de Cambia Moneda Tioo de Comorobante Metodo de Pacio Lugar de Expedici6n Fecha de Expedici6n Fecha v Hora de Emisi6n Fecha y Hora de Certificaci6n RFC del Emisor Nombre del Emisor Regimen fiscal del Emisor RFC del Receptor Nombre del Receptor Uso CFDI UUID RFC Proveedor Certificado No de serie de CSD del SAT',
 '3.3 I P000000000000000000000 03-Transferencia electr6nica de fondos 00000000000000000000 1 MXN-Peso Mexicano I-lncireso PUE-Pacio en una sola exhibici6n 06000-Ciudad de Mexico 12020-10-03 12020-10-03T20:41:06 12020-10-03T20:47:20 XXX999999XX9 BANCO NACIONAL DE MEXICO, S.A. 01-General de Ley Personas Morales XXXX999999XX9 XXXXXXXXXX XXXXXXXX XXXXXXXXXXXX 03-Gastos en general XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX XXX999999X99 00000000000000000000',
 'Sella Digital del Emisar',
 "l£iY· Vf-gX9Tz!trcd'IuPbcQZZ7HRRZ8/x2Xt3viAs0J¥fS368sfcKiC6VlYgTVFr1PLV?PJn0GUSZvxUZDNawvMT¥C6wuo;6Hc9KrlhY1BXKeVbLz0ist7KF7ccVvcJsr1L3STVMgLBTRe7mtvtU,qxTsE}lU'0aPii:cjo':acYKXMbfiRZZQlvFI92xKt5zXBcKRR2",
 '8 ;w YIJ]fr [rOevXZuuSJssY6XTco8ClsRTs8S:mTMI!SZebGMZfMcL·aV3J6XvrM6eoU8Eva"Swxs9eReBLMV!vlc1BzXpsz·tBwtimD8u6IdcTTZKNzJla\'aH:ZkopFSKms9)1sciBXz&2:Jt,·5GzO3a8ZVm5gJr2L0qFn1XXcAs3necR55M,gvsDFw55sXUjlxUwz1lSBLB;20f2PYLU\\7,vMZS4imrwRuaoL1rxM14C};4YtTcc54M9ccI?x4c4s1vE:s2Gib2cI-QIFLDaQI8JWzaU:Ba8imv6rXuenv0Z912VgPhK93208:RlL09o:s:l0Pl',
 'ZolWij8/dHGdrkjyxKe8ozD+sW1ZYKXBA9Bfa03dVclycdn7z1wXE3AU4d9qx8/puqC7t0JFIC6 v768svpAmGcVLEHKdvAAZzlC7IhOBouFLXTs4FC6m04BClvREiWn8BLgiLEHPoM4SJkP30 mlXibLufCOL1XldmWu9WmHJOg2A6uU5+ZH14kYr1+Mr++rmyH0chuPv1yYAMyybkltPQ2SW +UQyMCtMWdHsZewl/olfBaa/5pRFfC5MrydoV6oXFcvE000CaKfdABf azXBnSoJI rqCmC5Bibtjf+f/lxuO/KhnvTvbTut1by9S2gU16vcKvQA==',
 'Sella Digital SAT',
 'I',
 'LevP1K+C1h1WJoHSalu9SXelU5twNFF52zEFF878Mbc4ya4fPp8vvg8+D7tcbkcBgXqvkGB6Tu +ecu7XSN2NfiNXyFYCwfS4RBvYeEc0dSemYIA0E5zuQpnQwvuh33VReYlrDVkKxfW+Hg/5KI d0W5oihFvgpAl9+bS6OmKc0G0YfbvNRRSdvaeHRRzS2QM4sFYNAtNtGGKYrFRoMVsntSny dyWKZR9CQli8+0S6MWrg2cJFAwD+Fk+iGWtH4QB27bAqX 9Q3b8r +QpXwSKWhEyxm4V9BobL4TJf0VcgR6B+cGvsv6KEhWCWMBeg==',
 'Este Dacumenta es una Representaci6n lmpresa de un CFDI',
 'I',
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'Centro de Atenci6n Telefonica',
 'Ciudad de Mexico 9-999 9999 (1Banamex) Otra ciudad sin costo 99 999 999 9999',
 'Pagina 8 de 11',
 'CONCEPTOS SUBTOTALES',
 'I ISUBTOTAL',
 'I105.oo',
 'Clav Prod Serv DESCRIPCION',
 'IMPUESTOS',
 'I IBASE',
 '84121500-1nstituciones bancarias COMISION COBRADA',
 'CANTIDAD',
 '[VALOR UNITARIO',
 '1 105.00',
 '105.00',
 'I IIMPUESTO',
 '002-IVA',
 'I',
 'I',
 'CLAVE UNIDAD',
 'E48-Unidad de servicio',
 'IMPORTE',
 'I ITOTAL IVA',
 'I ITASA',
 '16% IMPORTE',
 'ITOTAL DE IMPORTE',
 'I',
 '105.0C',
 'I16.80',
 'I16.80',
 '121.80 I',
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'NOMBRE APELLIDO P APELLIDO M',
 'sue. 9656 ARCOS BOSQUES, CDMX',
 'AVE. PASEO DE LOS TAMARINDOS 400B BOSQUES DE LAS LOMAS',
 'Pagina 9 de 11',
 'Pr6ximamente podras realizar dep6sitos a tu tarjeta de debito y/o cuenta de cheques en 7 - Eleven, Futurama y Casa Ley.',
 'Apreciable Cllente:',
 'Banco Naclonal de Mexico S.A., lntegrante del Grupo Financiero Banamex, en lo sucesivo "Citibanamex··. en cumplimiento con lo establectdo en las disposiclones de caracter general en materla de transparencla aplicables a las instituciones de credito y sociedades fin,mcieras de obieto multiple, entidades reguladas de la CONDUSEF informa lo siguiente:',
 'A partir del 02 de noviembre 2020, estas operaciones tendran la siguiente comisi6n, en los corresponsales indicados:',
 'Dep6sito en efectivo a Tarjetas de Debito y Cuentas de Cheques abiertas en Citibanamex en comisionista 7-Eleven',
 'Dep6sito en efectivo a Tarjeta de Debito en comisionista Futurama',
 'Dep6sito en efectivo a Tarjetas de Debito v Cuentas de Cheques abiertas en Citlbanamex en comlslonista Casa Ley',
 '$10.35 mas IVA por evento',
 '$7.76 mas IVA por evento',
 '$6.90 mas IVA por evento',
 'Consulta detalle de todas las comisiones en www.citibanamex.com',
 'Tambien puedes realizar dep6sitos en cajeros automaticos y sucursales Cltibanamex. En caso de no estar de acuerdo con las modificaciones senaladas, podras solicitar la terminaci6n del Contrato dentro de los 30 dfas posteriore a Que surta electo la presente notificaci6n, por lo que durante ese pedodo nose aplicara el cobra de las comisiones mencionadas previamente. Se entendera que aceptas las modificaciones efectuadas a las comisiones, si no solicitas la terminaci6n del contrato dentro del plazo seiialado. Tu derecho a dar por terminado el Contrato en cualquier otro momenta seguira siendo vigente.',
 'Atentamente.',
 'Banco Nacfonal de Mexico S.A., lntegrante del Grupo Financiero Banamex.',
 'cffi banamex@·',
 'El Banco Nacional de Mexico',
 "re rernrdamas las dalos de la llllld,d [sptcialilada de atencloo a ctienles son: OGmlcifia. Av. IIISl[rgenles Sti1 No. 926, Colotia D!t Valle, Delegacioo Benito Ju.im, 03100 Ciud.Jrj de Mlco lel/1111111: 55 lmi4583. rorrtalllttl!llnico uniUh311.1mm.om·y IM lelelonMde taiha1.1ml'I SM.551221, i 55'!J./,I&391 Cllll un horario de alentilln de lmllsa l'I sd<!0700 a 2100 lwla, badM I dnmilllJ!K dP Offil a 21 00 !was, am domicifiO en 16 de Stpli.'nmrr &u11em 71, planla baja, Clllcni.l CJ,nlro llr.ildia Cmuhl!moc_ Ol,l)llO, CU/dlll d, llhirn. a lral'f'i le IM",
 "cuM no1 pllEdl'S cnladar para cualq1lier duda o aclaraci61 a l'lle lMpEdo",
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'Centro de Atenci6n Telefonica',
 'Ciudad de Mexico 9-999 9999 (1Banamex) Otra ciudad sin costo 99 999 999 9999',
 'Pagina 1 o de 11',
 'Tu contrato de Banca lectr6nica tiene na nueva actualizaci6n',
 'Te inlormarnos que tu contrato de prestacion de servicios de banca electronica para personas fislcas tuvo recientes modificaciones que entraran en vigor en 30 dias a partir de la presente notificaci6n.',
 'Pag. 1 Nueva secci6n DECLARACIONES tanto del Cllente coma de Citibanamex, en la cual ambas partes declaran su capacidad jurfdlca para llevar a cabo et contrato de serviclo.',
 'Pag. 5 Se rntegra la secci6n INSTRUCCIONES, RESPONSABILIDADES Y LIMITES entre Cltibanamex y el Cllente, en donde se acepta el uso responsable del serv1cio.',
 'Pag. 6 RESPONSABILIDADES DEL CLIENTE. En esta seccion se establecen las obligaciones que los usuarios deberan mantener para la seguridad de sus operaciones.',
 'Pag. 8 Se incluye un apartado relac1onado a las acciones que Citibanamex lleva a cabo para lemas de PREVENC16N DE FR.A.UDES.',
 'Pag. 8 En esta misma paglna se establecen los llneamientos para la CONTRATACl6N DE MANERA NO PRESENCIAL O REMOTA, asf como otras lormas de contratac16n a luturo.',
 'Pag. 8 Se establecen clausulas especificas por cada servicio de banca electr6nica, identiflcando las transacciones que se pueaen realizar en calla media.',
 'Pag. 13 Se agrega inlormaci6n relacionada a Alertas y Notilicaciones que inlormen a los chentes respecto a su transaccionalldad.',
 'Consulta las actualizaciones del Contrato de Banca Electr6n1ca en www.cillbanamex.com/contrato·bancaelectronica y en caso de no estar de acuerdo con las modiricaciones senaladas, podras solicitar la terminaci6n del mismo dentro de las 30 dias posteriores de haber recib1do esta notificaci6n. Se entendera que aceptas las mod1ficaciones si no solicitas la terminac16n del contrato dentro del plaza senalado. Tu derecho a dar par termrnado el Contrato seguira siendo vigente.',
 'Atentamente,',
 'Banco Nacional de Mexico S.A., lnlegrante del Grupo Financiero Banamex.',
 "11 fl(Qfdil!IO! lo! dalOI di Ii Uoi!Md lt!elllna 551126 513 y SGS to/ di Ul!i I l'lfll!S di 01'00 1 lJ:OO Ofll  PJ.Colo111Ac«lil.",
 ',ho illl!I 01 !It 091lO I ltOO Mfn. , 00240 C dt !!CD J II 011',
 'llf1!90ln kml1I  tP OJIOO Cwll.tll di MillCO I 5512261639 y 55 ll616J91 lllllM IIO!illO df ,1111 I',
 "rd1t1YIH ill IIIGJUGarn II p!MI trilo cu Pien ID: l'CP-000113-DZ",
 '0006475',
 '000190.B25INDA0I0.OD.1002.01',
 '\x0ccffibanamex@',
 'NOMBRE APELLIDO P APELLIDO M',
 'sue. 9656 ARCOS BOSQUES, CDMX',
 'AVE. PASEO DE LOS TAMARINDOS 400B BOSQUES DE LAS LOMAS',
 'Pagina 11 de 11',
 'Glosario de Abreviaturas',

In [54]:
#movimientos
movimientos=[]
for i in range(len(pdf)):
    if pdf[i].startswith('Detalle'):
        movimientos.append(i)

In [55]:
movimientos

[94, 124, 160]

In [56]:
#fin de movimientos
fin=[]
for i in range(len(pdf)):
    if pdf[i].startswith('Resumen Operaciones Tarjeta'):
        fin.append(i)

In [57]:
fin

[190]

In [58]:
tabla_todo=pdf[movimientos[0]:fin[0]]

In [59]:
tabla_pag_1=pdf[movimientos[0]:movimientos[1]]

In [60]:
tabu=tabula.read_pdf(archivo, pages='all')

# PAGINA 1

In [61]:
#fechas
fecha_todo=[]
for i in range(len(tabla_todo)):
    if re.match('fecha',tabla_todo[i].lower()):
        fecha_todo.append(tabla_todo[i])
    elif re.match(r'\d{2} \w{3}',tabla_todo[i]):
        fecha_todo.append(tabla_todo[i])

        
fecha_todo

['FECHA 05 SEP 07 SEP 08 SEP',
 '10 SEP 10 SEP 10 SEP 18 SEP 18 SEP',
 '18 SEP',
 'FECHA 21 SEP 21 SEP 21 SEP 22 SEP',
 '24 SEP 24 SEP 24 SEP 25 SEP 25 SEP',
 '25 SEP',
 '28 SEP',
 'FECHA 30 SEP 30 SEP',
 '02 OCT 02 OCT']

In [62]:
#separo
fechas_todo_2=[]

for i in fecha_todo:
    fechas_todo_2.append(re.findall(r'\d{2} \w{3}',i))

In [63]:
#aplano lista de listas
fechas_todo_3 = []
for i in fechas_todo_2:
    for j in i:
        fechas_todo_3.append(j)

In [64]:
len(fechas_todo_3)

24

In [65]:
fechas_df=fechas_todo_3

In [66]:
#conceptos
tabla_string1=" ".join(tabla_pag_1)

In [67]:
tabla_string1

'Detalle de Operaciones En pesos Moneda Nacional FECHA 05 SEP 07 SEP 08 SEP 10 SEP 10 SEP 10 SEP 18 SEP 18 SEP 18 SEP CONCEPTO SALDO ANTERIOR COBRO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 AUT 00000000 HORA 15:41 EXENCION COBRO COMISION MANEJO DE CUENTA PERIODO AGO05 AL SEP04 IMPORTE A EX ENTAR $165.00 CAJA 0000 AUT 00000000 HORA 03:09 SUC 0000 COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 AUT 00000000 HORA 14:30 COBRO DE CHEQUE NUMERO 174 suc 0000 CAJA 0000 AUT 00000000 HORA 14:49 COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 AUT 00000000 HORA 14:50 GNC PLAZA LILAS MAX0611157H8 9999 999999999999999999999999 99999999 CAJA 0093 AUT 99999999 99999999 HORA 06:48 SUC 9999 XXXX XXXX & XXX XX 000000000 0000 suc 0342 CAJA 0000 AUT 00000000 HORA 06:48 00000000 00000000000000000000000 00000000 suc 0000 CAJA 0000 AUT 00000000 HORA 06:48 LILAS 000000000 0006475 Envía y recibe dinero al instante sin dar de alta una cuenta, hazlo desde CoDi(!) en Citibanamex Móvil Maneja tu dinero desde la App. RETIROS DEPÓSITOS 2,000.00 950.00 1 686.00 1,326.00 2,029.70 350.00 000190.B25INDA0I0.OD.1002.01 Página 2 de 11 SALDO 1 291.41 9,291.41 9,291.41 8,341.41 6 655.41 5,329.41 3,299.71 2 949.71 \x0ccffibanamex@ NOMBRE APELLIDO P APELLIDO M'

In [68]:
conceptos_p1=re.split('SALDO |EXCENSINCION |COB|XXXX XXXX|GN',tabla_string1)
conceptos_p1

['Detalle de Operaciones En pesos Moneda Nacional FECHA 05 SEP 07 SEP 08 SEP 10 SEP 10 SEP 10 SEP 18 SEP 18 SEP 18 SEP CONCEPTO ',
 'ANTERIOR ',
 'RO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 AUT 00000000 HORA 15:41 EXENCION ',
 'RO COMISION MANEJO DE CUENTA PERIODO AGO05 AL SEP04 IMPORTE A EX ENTAR $165.00 CAJA 0000 AUT 00000000 HORA 03:09 SUC 0000 ',
 'RO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 AUT 00000000 HORA 14:30 ',
 'RO DE CHEQUE NUMERO 174 suc 0000 CAJA 0000 AUT 00000000 HORA 14:49 ',
 'RO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 AUT 00000000 HORA 14:50 ',
 'C PLAZA LILAS MAX0611157H8 9999 999999999999999999999999 99999999 CAJA 0093 AUT 99999999 99999999 HORA 06:48 SUC 9999 ',
 ' & XXX XX 000000000 0000 suc 0342 CAJA 0000 AUT 00000000 HORA 06:48 00000000 00000000000000000000000 00000000 suc 0000 CAJA 0000 AUT 00000000 HORA 06:48 LILAS 000000000 0006475 Envía y recibe dinero al instante sin dar de alta una cuenta, hazlo desde CoDi(!) en Citibanamex Móvil Maneja tu dinero desde la App. RETIROS DEPÓSITOS 2,000.00 950.00 1 686.00 1,326.00 2,029.70 350.00 000190.B25INDA0I0.OD.1002.01 Página 2 de 11 ',
 '1 291.41 9,291.41 9,291.41 8,341.41 6 655.41 5,329.41 3,299.71 2 949.71 \x0ccffibanamex@ NOMBRE APELLIDO P APELLIDO M']

In [69]:
conceptos_pag_1=[]
for i in range(len(conceptos_p1)):
    if conceptos_p1[i].startswith('ANTERIOR'):
        j='SALDO '+conceptos_p1[i]
        conceptos_pag_1.append(j)
    elif conceptos_p1[i].startswith('RO COMISION'):
        j='EXCENSION COB'+conceptos_p1[i]
        conceptos_pag_1.append(j)
    elif conceptos_p1[i].startswith('RO'):
        j='COB'+conceptos_p1[i]
        conceptos_pag_1.append(j)
    elif conceptos_p1[i].startswith('C'):
        j='GN'+conceptos_p1[i]
        conceptos_pag_1.append(j)
    elif conceptos_p1[i].startswith(' &'):
        j='XXXX XXXX'+conceptos_p1[i]
        conceptos_pag_1.append(j)
conceptos_pag_1

['SALDO ANTERIOR ',
 'COBRO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 AUT 00000000 HORA 15:41 EXENCION ',
 'EXCENSION COBRO COMISION MANEJO DE CUENTA PERIODO AGO05 AL SEP04 IMPORTE A EX ENTAR $165.00 CAJA 0000 AUT 00000000 HORA 03:09 SUC 0000 ',
 'COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 AUT 00000000 HORA 14:30 ',
 'COBRO DE CHEQUE NUMERO 174 suc 0000 CAJA 0000 AUT 00000000 HORA 14:49 ',
 'COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 AUT 00000000 HORA 14:50 ',
 'GNC PLAZA LILAS MAX0611157H8 9999 999999999999999999999999 99999999 CAJA 0093 AUT 99999999 99999999 HORA 06:48 SUC 9999 ',
 'XXXX XXXX & XXX XX 000000000 0000 suc 0342 CAJA 0000 AUT 00000000 HORA 06:48 00000000 00000000000000000000000 00000000 suc 0000 CAJA 0000 AUT 00000000 HORA 06:48 LILAS 000000000 0006475 Envía y recibe dinero al instante sin dar de alta una cuenta, hazlo desde CoDi(!) en Citibanamex Móvil Maneja tu dinero desde la App. RETIROS DEPÓSITOS 2,000.00 950.00 1 686.00 1,326.00 2,029.70 350.00 000190.B25INDA0I0.OD.1002.01 Página 2 de 11 ']

In [70]:
len(conceptos_pag_1)

8

In [71]:
#retiros
retiros_lista_pag_1=[]
for i in range(len(tabla_pag_1)):
    if re.match('retiros',tabla_pag_1[i].lower()):
        retiros_lista_pag_1.append(tabla_pag_1[i])
        retiros_lista_pag_1.append(tabla_pag_1[i+1])
        retiros_lista_pag_1.append(tabla_pag_1[i+2])
        retiros_lista_pag_1.append(tabla_pag_1[i+3])
        retiros_lista_pag_1.append(tabla_pag_1[i+4])
retiros_lista_pag_1

['RETIROS',
 'DEPÓSITOS',
 '2,000.00',
 '950.00 1 686.00 1,326.00 2,029.70',
 '350.00']

In [72]:
retiros1_1=[]
for i in retiros_lista_pag_1:
    if re.search(r'\d+', i):
        retiros1_1.append(i)

In [73]:
retiros1_1

['2,000.00', '950.00 1 686.00 1,326.00 2,029.70', '350.00']

In [74]:
retiros1_2=[]
for i in retiros1_1:
    retiros1_2.append(i.split('.00'))
    
retiros1_2

[['2,000', ''], ['950', ' 1 686', ' 1,326', ' 2,029.70'], ['350', '']]

In [75]:
retiros1_3=[]
for i in retiros1_2:
    for j in i:
        if re.search(r'\d+', j):
            retiros1_3.append(j+'.00')
        
retiros1_3

['2,000.00', '950.00', ' 1 686.00', ' 1,326.00', ' 2,029.70.00', '350.00']

In [76]:
#organizo retiros pagina 1
retiros_pag_1=[]
contador=0
for i in range(len(conceptos_pag_1)):
    if conceptos_pag_1[i].startswith('COBRO'):
        retiros_pag_1.append(retiros1_3[contador])
        contador=contador+1
    
    elif conceptos_pag_1[i].startswith('GNC'):
        retiros_pag_1.append(retiros1_3[contador])
        contador=contador+1
        
    elif conceptos_pag_1[i].startswith('XXX'):
        retiros_pag_1.append(retiros1_3[contador])
        contador=contador+1
    
    else:
        retiros_pag_1.append(0)
retiros_pag_1

[0,
 '2,000.00',
 0,
 '950.00',
 ' 1 686.00',
 ' 1,326.00',
 ' 2,029.70.00',
 '350.00']

In [77]:
#depositos
depositos_lista_pag_1=[]
for i in range(len(tabla_pag_1)):
    if re.match('depósitos',tabla_pag_1[i].lower()):
        depositos_lista_pag_1.append(tabla_pag_1[i])
        
depositos_lista_pag_1
#no hay depositos

['DEPÓSITOS']

In [78]:
depositos1=[]
for i in depositos_lista_pag_1:
    if re.search(r'\d+', i):
        depositos1.append(i)

depositos1_1=[]     
for i in depositos1:
    j=i.split(' ')
    for k in j:
        depositos1_1.append(k)

In [79]:
#organizo depositos
depositos_pag_1=[]
contador=0
for i in range(len(conceptos_pag_1)):
    if conceptos_pag_1[i].startswith('DEPOSITO') or conceptos_pag_1[i].startswith('INTERES'):
        depositos_pag_1.append(depositos1_1[contador])
        contador=contador+1
    else:
        depositos_pag_1.append('0')
depositos_pag_1

['0', '0', '0', '0', '0', '0', '0', '0']

In [80]:
#saldos
saldos_lista_pag_1=[]
for i in range(len(tabla_pag_1)):
    if re.match('saldo',tabla_pag_1[i].lower()):
        saldos_lista_pag_1.append(tabla_pag_1[i])
        saldos_lista_pag_1.append(tabla_pag_1[i+1])
        saldos_lista_pag_1.append(tabla_pag_1[i+2])
        
saldos_lista_pag_1

['SALDO ANTERIOR COBRO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 AUT 00000000 HORA 15:41 EXENCION COBRO COMISION MANEJO DE CUENTA PERIODO AGO05 AL SEP04 IMPORTE A EX ENTAR $165.00 CAJA 0000 AUT 00000000 HORA 03:09 SUC 0000 COBRO DE CHEQUE NUMERO 000',
 'suc 0000',
 'CAJA 0000 AUT 00000000 HORA 14:30 COBRO DE CHEQUE NUMERO 174',
 'SALDO 1 291.41 9,291.41 9,291.41 8,341.41 6 655.41 5,329.41 3,299.71 2 949.71',
 '\x0ccffibanamex@',
 'NOMBRE APELLIDO P APELLIDO M']

In [81]:
saldos1_1=[]
for i in range(len(saldos_lista_pag_1)):
    if re.search(r'SALDO \d+', saldos_lista_pag_1[i]):
        saldos1_1.append(saldos_lista_pag_1[i])
        saldos1_1.append(saldos_lista_pag_1[i+1])
        
saldos1_1

['SALDO 1 291.41 9,291.41 9,291.41 8,341.41 6 655.41 5,329.41 3,299.71 2 949.71',
 '\x0ccffibanamex@']

In [82]:
saldos1_2=[]
for i in saldos1_1:
    j=re.split('SALDO|\.\d{2}',i)
    saldos1_2.append(j)
    
saldos1_3=[]
for i in saldos1_2:
    for j in i:
        if re.search(r'\d+',j):
            saldos1_3.append(j)
            
saldos1_3

[' 1 291',
 ' 9,291',
 ' 9,291',
 ' 8,341',
 ' 6 655',
 ' 5,329',
 ' 3,299',
 ' 2 949']

In [83]:
saldos_pag_1= saldos1_3

# con tabula

In [84]:
tabu[1]

,Detalle de Operaciones En pesos Moneda Nacional,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,FECHA CONCEPTO,NaN,RETIROS,DEPÓSITOS,SALDO
1,5411 75412910263975987909057,NaN,NaN,NaN,NaN
2,20200921 CAJA 0093 AUT 02985979,NaN,NaN,NaN,NaN
3,20200921 HORA 06:48 SUC 0342,NaN,234.00,NaN,"2,715.71"
4,21 SEP REPOSTERIA,NaN,NaN,NaN,NaN
5,XXXX999999XX9 5441,NaN,NaN,NaN,NaN
6,20200923 75326900265000784368680,NaN,NaN,NaN,NaN
7,20200923 suc 0342,NaN,NaN,NaN,NaN
8,CAJA 0093 AUT 01011285 HORA 05:30 CITY,NaN,1 360.00,NaN,1 355.71
9,21 SEP MARKET,NaN,NaN,NaN,NaN
10,5411 75435290266536760465142,NaN,NaN,NaN,NaN
11,20200923 CAJA 0093 AUT 01011287,NaN,NaN,NaN,NaN
12,20200923 HORA 05:30 SUC 0342,NaN,"1,496.20",NaN,"9,859.51"
13,21 SEP FLORES 5992 20200923,NaN,NaN,NaN,NaN
14,75412780265000108700221 20200923 suc,NaN,NaN,NaN,NaN
15,0342,NaN,NaN,NaN,NaN
16,CAJA 0093 AUT 01011289 HORA 05:30,NaN,1 000.00,NaN,"8,859.51"
17,22 SEP TERMINAL,NaN,NaN,NaN,NaN
18,131210UU7 5811,NaN,NaN,NaN,NaN
19,suc 0342,NaN,NaN,NaN,NaN
20,CAJA 0093 AUT 00881422 HORA 05:30,NaN,NaN,NaN,NaN
21,20200924 75445500266001282364505,NaN,NaN,NaN,NaN
22,20200924 suc 0342,NaN,NaN,NaN,NaN
23,NaN,NaN,"2,186.73",NaN,"6,672.78"
24,24 SEP CAJA 0093 AUT 00881422 HORA 05:30 CITY,NaN,NaN,NaN,NaN
25,MARKET,NaN,NaN,NaN,NaN
26,5411 75435290269536760467046,NaN,NaN,NaN,NaN
27,20200928 CAJA 0093 AUT 00906083,NaN,NaN,NaN,NaN
28,NaN,NaN,360.00,NaN,"6,312.78"
29,20200928 HORA 05:40 SUC 0342,NaN,NaN,NaN,NaN
30,24 SEP,NaN,NaN,NaN,NaN
31,COBRO DE CHEQUE NUMERO 999,NaN,NaN,NaN,NaN
32,SUC 4409,NaN,NaN,NaN,NaN
33,CAJA 0003 AUT 00451934 HORA 12:19,NaN,8 000.00,NaN,8 312.78
34,24 SEP,NaN,NaN,NaN,NaN
35,COBRO DE CHEQUE NUMERO 999,NaN,NaN,NaN,NaN
36,SUC 4409,NaN,NaN,NaN,NaN
37,CAJA 0003 AUT 00451948 HORA 12:32,NaN,"4,000.00",NaN,"4,312.78"
38,25 SEP COBRO DE CHEQUE NUMERO 999,NaN,NaN,NaN,NaN
39,SUC 4409,NaN,NaN,NaN,NaN
40,CAJA 0001 AUT 00017534 HORA 11 :29,NaN,15 146.00,NaN,9 166.78
41,25 SEP UBER *EATS HELP.UBER.COM 5812,NaN,NaN,NaN,NaN
42,20200928 15276320270002487493963,NaN,NaN,NaN,NaN
43,20200928 suc 0342,NaN,NaN,NaN,NaN
44,CAJA 0093 AUT 02611056 HORA 05:44,NaN,NaN,NaN,NaN
45,"1,459.70 Mexican Peso",NaN,NaN,NaN,NaN
46,20200928 CAJA 0093 AUT 02611056,NaN,NaN,NaN,NaN
47,20200928 HORA 05:44 SUC 0342,NaN,"1,459.70",NaN,"7,707.08"
48,25 SEP UBER *EATS HELP.UBER.COM 5812,NaN,NaN,NaN,NaN
49,20200928 15276320270002530791413 493.18,NaN,NaN,NaN,NaN
50,20200928 suc 0342,NaN,NaN,NaN,NaN
51,CAJA 0093 AUT 02611057 HORA 05:44,NaN,NaN,NaN,NaN
52,Mexican Peso,NaN,NaN,NaN,NaN
53,20200928 CAJA 0093 AUT 02611057,NaN,NaN,NaN,NaN
54,20200928 HORA 05:44 SUC 0342,NaN,493.18,NaN,7 213.90
55,28 SEP UBER *EATS HELP.UBER.COM 5812,NaN,NaN,NaN,NaN
56,20200929 15276320272002337138493 351.24,NaN,NaN,NaN,NaN

In [85]:
conceptos_lista=[]
for i in range(len(tabu)):
    try:
        for j in tabu[i]['Detalle de Operaciones En pesos Moneda Nacional']:
            conceptos_lista.append(str(j))
    except:
        pass

In [86]:
conceptos_str=' '.join(conceptos_lista)

In [87]:
mes=re.findall(r'\w{3}',fechas_todo_3[0])

In [88]:
conceptos_2_y_3=re.split(r'\d{2} ENE |\d{2} FEB |\d{2} MAR |\d{2} ABR|\d{2} MAY |\d{2} JUN |\d{2} JUL |\d{2} SEP |\d{2} OCT |\d{2} NOV |\d{2} DEC '
                     ,conceptos_str)

In [89]:
conceptos_2_y_3

['FECHA CONCEPTO 5411 75412910263975987909057 20200921 CAJA 0093 AUT 02985979 20200921 HORA 06:48 SUC 0342 ',
 'REPOSTERIA XXXX999999XX9 5441 20200923 75326900265000784368680 20200923 suc 0342 CAJA 0093 AUT 01011285 HORA 05:30 CITY ',
 'MARKET 5411 75435290266536760465142 20200923 CAJA 0093 AUT 01011287 20200923 HORA 05:30 SUC 0342 ',
 'FLORES  5992 20200923 75412780265000108700221 20200923 suc 0342 CAJA 0093 AUT 01011289 HORA 05:30 ',
 'TERMINAL 131210UU7 5811 suc 0342 CAJA 0093 AUT 00881422 HORA 05:30 20200924 75445500266001282364505 20200924 suc 0342 nan ',
 'CAJA 0093 AUT 00881422 HORA 05:30 CITY MARKET 5411 75435290269536760467046 20200928 CAJA 0093 AUT 00906083 nan 20200928 HORA 05:40 SUC 0342 ',
 'COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 AUT 00451934 HORA 12:19 ',
 'COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 AUT 00451948 HORA 12:32 ',
 'COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0001 AUT 00017534 HORA 11 :29 ',
 'UBER *EATS HELP.UBER.COM 5812 20200928 15276320270002487493963 20200928 suc 0342 CAJA 0093 AUT 02611056 HORA 05:44 1,459.70 Mexican Peso 20200928 CAJA 0093 AUT 02611056 20200928 HORA 05:44 SUC 0342 ',
 'UBER *EATS HELP.UBER.COM 5812 20200928 15276320270002530791413 493.18 20200928 suc 0342 CAJA 0093 AUT 02611057 HORA 05:44 Mexican Peso 20200928 CAJA 0093 AUT 02611057 20200928 HORA 05:44 SUC 0342 ',
 'UBER *EATS HELP.UBER.COM 5812 20200929 15276320272002337138493 351.24 FECHA CONCEPTO 20200929 suc 0342 CAJA 0093 AUT 01012606 HORA 05:39 Mexican Peso 20200929 CAJA 0093 AUT 01012606 20200929 HORA 05:39 SUC 0342 ',
 'PROSECCO 20201002 75445500274001277147220 20201002 suc 0342 CAJA 0093 AUT 00684097 HORA 05:25 ',
 'XXXXXXXXXXXX 1311076Y5 7298 suc 0342 CAJA 0093 AUT 00684100 HORA 05:25 20201002 75412910275910272446024 20201002 suc 0342 nan CAJA 0093 AUT 00684100 HORA 05:25 ',
 'COMISION POR 7 CHEQUES GIRADOS CAJA 0000 AUT 01906646 HORA 23:59 SUC 9656 ',
 'IVA COMISION CHEQUE GIRADO CAJA 0000 AUT 01906646 HORA 23:59 SUC 9656']

In [90]:
conceptos_df=conceptos_pag_1+conceptos_2_y_3

In [91]:
#retiros
retiros_lista=[]
for i in range(len(tabu)):
    tabu[i].fillna(0,inplace=True)
    try:
        for j in tabu[i]['Unnamed: 1']:
            if j!=0:
                if j!='RETIROS':
                    retiros_lista.append(str(j))
    except:
        pass

In [92]:
retiros_df= retiros_pag_1+retiros_lista

In [93]:
#saldoss
saldos_lista=[]
for i in range(len(tabu)):
    tabu[i].fillna(0,inplace=True)
    try:
        for j in tabu[i]['Unnamed: 3']:
            if j!=0:
                if j!='SALDO':
                    saldos_lista.append(str(j))
    except:
        pass

In [94]:
len(saldos_lista)

16

In [95]:
saldos_df=saldos1_3+saldos_lista

In [96]:
depositos_df=[]
for i in retiros_df:
    if i!=0:
        depositos_df.append(0)
    elif i==0:
        depositos_df.append(0)
    else:
        depositos_df.append('pendiente')

In [97]:
len(depositos_df)

24

In [98]:
estado=pd.DataFrame(list(zip(fechas_todo_3, conceptos_df, retiros_df, depositos_df, saldos_df)),
              columns=['fecha','concepto','retiro', 'deposito','saldo'])

In [99]:
estado

,fecha,concepto,retiro,deposito,saldo
0,05 SEP,SALDO ANTERIOR,0,0,1 291
1,07 SEP,COBRO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 ...,"2,000.00",0,"9,291"
2,08 SEP,EXCENSION COBRO COMISION MANEJO DE CUENTA PERI...,0,0,"9,291"
3,10 SEP,COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 ...,950.00,0,"8,341"
4,10 SEP,COBRO DE CHEQUE NUMERO 174 suc 0000 CAJA 0000 ...,1 686.00,0,6 655
5,10 SEP,COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 ...,"1,326.00",0,"5,329"
6,18 SEP,GNC PLAZA LILAS MAX0611157H8 9999 999999999999...,"2,029.70.00",0,"3,299"
7,18 SEP,XXXX XXXX & XXX XX 000000000 0000 suc 0342 CAJ...,350.00,0,2 949
8,18 SEP,FECHA CONCEPTO 5411 75412910263975987909057 20...,234.00,0,"2,715.71"
9,21 SEP,REPOSTERIA XXXX999999XX9 5441 20200923 7532690...,1 360.00,0,1 355.71
10,21 SEP,MARKET 5411 75435290266536760465142 20200923 C...,"1,496.20",0,"9,859.51"
11,21 SEP,FLORES 5992 20200923 75412780265000108700221 ...,1 000.00,0,"8,859.51"
12,22 SEP,TERMINAL 131210UU7 5811 suc 0342 CAJA 0093 AUT...,"2,186.73",0,"6,672.78"
13,24 SEP,CAJA 0093 AUT 00881422 HORA 05:30 CITY MARKET ...,360.00,0,"6,312.78"
14,24 SEP,COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 ...,8 000.00,0,8 312.78
15,24 SEP,COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 ...,"4,000.00",0,"4,312.78"
16,25 SEP,COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0001 ...,15 146.00,0,9 166.78
17,25 SEP,UBER *EATS HELP.UBER.COM 5812 20200928 1527632...,"1,459.70",0,"7,707.08"
18,25 SEP,UBER *EATS HELP.UBER.COM 5812 20200928 1527632...,493.18,0,7 213.90
19,28 SEP,UBER *EATS HELP.UBER.COM 5812 20200929 1527632...,351.24,0,6 862.66
20,30 SEP,PROSECCO 20201002 75445500274001277147220 2020...,742.90,0,"6,119.76"
21,30 SEP,XXXXXXXXXXXX 1311076Y5 7298 suc 0342 CAJA 0093...,350.00,0,5 769.76
22,02 OCT,COMISION POR 7 CHEQUES GIRADOS CAJA 0000 AUT 0...,105.00,0,5 664.76
23,02 OCT,IVA COMISION CHEQUE GIRADO CAJA 0000 AUT 01906...,I 002-IVA,0,I

In [100]:
estado['banco']='banamex'

In [101]:
estado['nacionalidad']='nacional'

In [103]:
periodo

['Período del 5 de septiembre al 4 de octubre del 2020']

In [104]:
estado['fecha de corte']= periodo[0]

In [109]:
estado['titular']=cliente_nombre

In [111]:
val_dict

{' de contrato ': '9999999999',
 ' de sucursal ': '9999',
 ' de cuenta de cheques ': '99999999999',
 'Tarjeta de Débito': '9999999999999999',
 'CLABE': '999999999999999999',
 '# cliente': '99999999',
 'RFC': 'XXXX999999X99'}

In [113]:
estado['cuenta']=val_dict[' de cuenta de cheques ']

In [114]:
estado['saldo inicial']=estado['saldo'][0]

In [115]:
if re.search('usd',text_str.lower()) or re.search('dolar', text_str.lower()) or re.search('dollar', text_str.lower()):
    moneda='usd'
else:
    moneda='mxn'

In [116]:
moneda

'mxn'

In [117]:
estado['divisa']=moneda

In [118]:
edo_cuenta= estado[['banco','nacionalidad','fecha de corte', 'titular','cuenta','fecha','concepto','saldo inicial',
                    'retiro','deposito','saldo','divisa']]

In [128]:
nombre_archivo=re.findall(r'\d+ \w+ \w+ \w+ \d+ \w+ \w+ \w+ \d+',periodo[0])[0]+'-banamex-cuenta-perfiles'
nombre_archivo=nombre_archivo.replace(' ','-')
nombre_archivo

'5-de-septiembre-al-4-de-octubre-del-2020-banamex-cuenta-perfiles'

In [129]:
#exporto
#edo_cuenta.to_csv('tresalia\Bancos\Banamex_nacional\salida\\'+nombre_archivo+'.txt' , sep='\t', index=False)

In [130]:
edo_cuenta

,banco,nacionalidad,fecha de corte,titular,cuenta,fecha,concepto,saldo inicial,retiro,deposito,saldo,divisa
0,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,05 SEP,SALDO ANTERIOR,1 291,0,0,1 291,mxn
1,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,07 SEP,COBRO DE CHEQUE NUMERO 000 SUC 0000 CAJA 0000 ...,1 291,"2,000.00",0,"9,291",mxn
2,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,08 SEP,EXCENSION COBRO COMISION MANEJO DE CUENTA PERI...,1 291,0,0,"9,291",mxn
3,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,10 SEP,COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 ...,1 291,950.00,0,"8,341",mxn
4,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,10 SEP,COBRO DE CHEQUE NUMERO 174 suc 0000 CAJA 0000 ...,1 291,1 686.00,0,6 655,mxn
5,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,10 SEP,COBRO DE CHEQUE NUMERO 000 suc 0000 CAJA 0000 ...,1 291,"1,326.00",0,"5,329",mxn
6,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,18 SEP,GNC PLAZA LILAS MAX0611157H8 9999 999999999999...,1 291,"2,029.70.00",0,"3,299",mxn
7,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,18 SEP,XXXX XXXX & XXX XX 000000000 0000 suc 0342 CAJ...,1 291,350.00,0,2 949,mxn
8,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,18 SEP,FECHA CONCEPTO 5411 75412910263975987909057 20...,1 291,234.00,0,"2,715.71",mxn
9,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,21 SEP,REPOSTERIA XXXX999999XX9 5441 20200923 7532690...,1 291,1 360.00,0,1 355.71,mxn
10,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,21 SEP,MARKET 5411 75435290266536760465142 20200923 C...,1 291,"1,496.20",0,"9,859.51",mxn
11,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,21 SEP,FLORES 5992 20200923 75412780265000108700221 ...,1 291,1 000.00,0,"8,859.51",mxn
12,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,22 SEP,TERMINAL 131210UU7 5811 suc 0342 CAJA 0093 AUT...,1 291,"2,186.73",0,"6,672.78",mxn
13,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,24 SEP,CAJA 0093 AUT 00881422 HORA 05:30 CITY MARKET ...,1 291,360.00,0,"6,312.78",mxn
14,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,24 SEP,COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 ...,1 291,8 000.00,0,8 312.78,mxn
15,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,24 SEP,COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0003 ...,1 291,"4,000.00",0,"4,312.78",mxn
16,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,25 SEP,COBRO DE CHEQUE NUMERO 999 SUC 4409 CAJA 0001 ...,1 291,15 146.00,0,9 166.78,mxn
17,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,25 SEP,UBER *EATS HELP.UBER.COM 5812 20200928 1527632...,1 291,"1,459.70",0,"7,707.08",mxn
18,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,25 SEP,UBER *EATS HELP.UBER.COM 5812 20200928 1527632...,1 291,493.18,0,7 213.90,mxn
19,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,28 SEP,UBER *EATS HELP.UBER.COM 5812 20200929 1527632...,1 291,351.24,0,6 862.66,mxn
20,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,30 SEP,PROSECCO 20201002 75445500274001277147220 2020...,1 291,742.90,0,"6,119.76",mxn
21,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,30 SEP,XXXXXXXXXXXX 1311076Y5 7298 suc 0342 CAJA 0093...,1 291,350.00,0,5 769.76,mxn
22,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,02 OCT,COMISION POR 7 CHEQUES GIRADOS CAJA 0000 AUT 0...,1 291,105.00,0,5 664.76,mxn
23,banamex,nacional,Período del 5 de septiembre al 4 de octubre de...,NOMBRE APELLIDO P APELLIDO M,99999999999,02 OCT,IVA COMISION CHEQUE GIRADO CAJA 0000 AUT 01906...,1 291,I 002-IVA,0,I,mxn